*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
/*changeModes*/
.light{
    background-color: #ebf4fb;
}
.dark{
    background-color: #2f3444;
}
/*navBar*/
.bar{
    height: 7vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:10px;
    margin-top: 3%;
    margin-left: 11%;
    border-radius: 8px;
}

.moon{
    height: fit-content;
    width: fit-content;
    background-color: #e7e8eb;
    border-radius: 5px;
    padding: 0.4%;
    cursor: pointer;
    &:hover{
        border:1px solid #ef5e56;
    }
}
.sun{
    height: fit-content;
    width: fit-content;
    background-color: #595e71;
    border-radius: 5px;
    padding: 0.4%;
    cursor: pointer;
    display: none;
    &:hover{
        border:1px solid #ef5e56;
    }
}
/*subNavBar*/
.subBar{
    height: 9vh;
    width: 88%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin: 3% 0% 0% 0%;
}
.heading.darkk{
    font-size: 2rem;
    font-weight: bolder;
    color:black;
    margin-left: 13%;
}
.heading.lightt{
    font-size: 2rem;
    font-weight: bolder;
    color:white;
    margin-left: 13%;
}
.headingButtons{
    display: flex;
    height:fit-content;
    width: fit-content;
    gap: 2%;
}
.headingButtons a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: #595e71;
    padding: 4%;
    &:hover{
        border:1px solid #ef5e56;
    }
}

#all{
    background-color: #ef5e56;
    color: #363c4e;
}
/*mainCards*/
.cards{
    display: grid;
    grid-template-columns: repeat(3,26%);
    grid-template-rows: repeat(4,27%);
    gap: 0.8%;
    justify-content: center;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:white;
    border: 0.8px solid grey;
    border-radius: 20px;
    padding:2%;
    margin: 2%;
    height: 100%;
    width: 100%;
    
}
.card.darkMode , .bar.darkMode{
    background-color:#7d7d80;
    border: 0.8px solid whitesmoke;
}
.content{
    display: flex;
    padding: 1%;
    margin-bottom: 15%;
}
.innerContent{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1% ;
    text-align:left;
}
.innerContent h3{
    font-size: 1.5rem;
    color: #363c4e;
}
.innerContent p{
        font-size: 1rem;
        letter-spacing: 0.01rem;
        color: #363c4e;
        word-break: normal;
        overflow-wrap: break-word;
        max-width: 90%;
        line-height: 1.5;
        padding-right: 5px;
}
.card.darkMode .innerContent h3,
.card.darkMode .innerContent p {
  color: white;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button button{
    padding: 1%;
    border-radius: 10px;
    border: none;
    background-color:transparent;
    border: 1px solid ;
    color: #595e71;
    font-weight: bolder;
    cursor: pointer;
    &:hover{
        background-color: #ef5e56;
        color: white;
    }
}
.icons{
    color: #ef5e56;
    font-size: 1.5rem;
    cursor: pointer;
}
.icon{
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
}
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15% 5% 5%;
    font-size: 0.7rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/*media queries*/
@media (max-width:540px) {
    .bar{
        width: 90%;
        margin: 1%;
    }
    .subBar{
        margin: 1%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        margin: 1%;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1%;
        flex-wrap: nowrap;
    }
        .innerContent p {
            max-width: 90%;
            word-break: normal;
            overflow-wrap: break-word;

        
    }
}

@media (min-width:541px) and (max-width:1024px){
    .bar{
        width: 95%;
        margin: 1%;
    }
    .subBar{
        margin: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 95%;
        display: flex;
        gap: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        margin: 1%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
    }
    .card{
        width: 30%;
    }
    .innerContent h3{
        display: flex;
        font-size: 1.1rem;
    }
    .innerContent p {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        word-break: normal;
        overflow-wrap: break-word; 
        
    }
}

